.stat-card {
    transition: transform 0.2s;
    background: white;
    border-radius: 1rem !important;
}

.stat-card:hover {
    transform: translateY(-5px);
}

.icon-wrapper {
    width: 50px;
    height: 50px;
}