/* Definición de Variables CSS con la Paleta */
:host {
    --color-dark: #2F323A;
    --color-purple: #77567A;
    --color-orchid: #C47AC0;
    --color-pink: #E39EC1;
    --color-pale: #DEBAC0;
}

.app-container {
    background-color: #FFFCFD;
    /* Un fondo blanco con un tinte imperceptible de rosa */
    min-height: 100vh;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.main-content {
    margin-left: 260px;
    /* Ancho de la sidebar */
    transition: margin-left 0.3s;
}

/* Ajustes Responsive */
@media (max-width: 768px) {
    .main-content {
        margin-left: 0;
    }
}