.sidebar-container {
    background-color: var(--color-purple);
    width: 260px;
    min-height: 100vh;
    box-shadow: 4px 0 15px rgba(0, 0, 0, 0.05);
    position: fixed;
    /* Fija para pantallas grandes */
    z-index: 1000;
}

.brand-area {
    padding-left: 0.5rem;
}

.separator {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}

/* Estilos de los Links */
.nav-link {
    border-radius: 12px;
    padding: 12px 16px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    font-weight: 500;
    letter-spacing: 0.3px;
}

/* Estado Activo */
.nav-link.active {
    background-color: var(--color-orchid) !important;
    color: white !important;
    box-shadow: 0 4px 12px rgba(196, 122, 192, 0.4);
}

/* Efecto Hover */
.nav-link:not(.active):hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: translateX(5px);
    /* Desplazamiento sutil a la derecha */
    color: var(--color-pale) !important;
}

.user-profile {
    background: rgba(0, 0, 0, 0.1);
    transition: background 0.3s;
}

.user-profile:hover {
    background: rgba(0, 0, 0, 0.2);
}

.avatar {
    width: 38px;
    height: 38px;
    background-color: var(--color-pale);
    color: var(--color-purple);
}